.eduardo, .otavio {
    display: inline-block;
    
    width: 200px;
    height: 500px;
    background-color: #0dc7e7;
    border: 1px solid black;
    margin: 40px;
    
    justify-content: center;
    align-items: center;
  }

  .fotoeduardo {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .fotootavio {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-image: url(./Imagens_Site/fotos_perfil/download.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
