/* |-----------------------------------------------------------------------Seções----------------------------------------------------------------------------| */





/* |-----------------------------------------------------------------------Header(inicio)----------------------------------------------------------------------------| */



.backgroundlogo{
  border: 2px solid black;
  background-color: #72e0c8;
}







/* |-----------------------------------------------------------------------Menu(inicio)----------------------------------------------------------------------------| */

#menu{
  border: 2px solid black;
  background-color: rgb(55, 224, 21);
  font-weight: bold;
  font-family: 'Merriweather', serif;
}












/* |-----------------------------------------------------------------------Quem Somos(inicio)----------------------------------------------------------------------------| */


#quemsomos{
  border: 2px solid black;
  background-image: linear-gradient(to left, #2F4F4F, #66CDAA, #4682B4, #87CEEB);
  font-family: 'Merriweather', serif;
}

.proposito{
  border: 2px solid black;
}

 .eduardo, .otavio, .sofia, .gabriel, .jessica {
    display: inline-block;
    
    width: 200px;
    height: 500px;
    background-color: #0dc7e7;
    border: 3px solid black;
    margin: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
  }





/* |-----------------------------------------------------------------------Proposito(incio)----------------------------------------------------------------------------| */
#proposito{
  background-image: linear-gradient(to right, #4169E1, #4682B4, #66CDAA, #000080);
  width: 100%;
  height: 450px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  
}


.textoproposito{
  text-align: center;
  font-size: 36px;
  padding-top: 150px;
  font-family: 'Merriweather', serif;
}



/* |-----------------------------------------------------------------------MVV(incio)----------------------------------------------------------------------------| */


  #MVV{
    display: flex;
    border: 2px solid black;
    background-image: linear-gradient(to right,#4682B4, #66CDAA, #000080,#808080);
    font-family: 'Merriweather', serif;
    align-items: center;
    width: 100%;
    height: 500px;
  }

  .missao, .visao, .valores {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    height: 400px; 
    border: 2px solid black;
    margin-right: 20px;
  }

  .missao {
    background-image: linear-gradient(to left,#4682B4, #FFFFFF, #66CDAA);
  }

  .visao {
    background-image: linear-gradient(to left, #4169E1, #87CEEB,#2F4F4F,#F5F5F5 );
  }

  .valores {
    background-image: linear-gradient(to right,#808080, #87CEEB, #4169E1,#F5F5F5 );
  }

  .textomissao, .textovisao, .textovalores {
    padding-right: 20px;
    font-size: 30px;
  }

  .containermvv{
    margin-left:20px;
  }


  .titulomvv{
  text-align: center;
  }




/* |-----------------------------------------------------------------------Primeiro Projeto(incio)----------------------------------------------------------------------------| */
#primeiroprojeto{
  border: 2px solid black;
  background-image: linear-gradient(to left, #4169E1, #FFFFFF, #4682B4, #808080, #1974eb, #00e0fd);
  width: 100%;
  height: 500px;
  
}

.imgvaso{
 width: 350px;
 height: auto;
 padding-left: 20px;
  border: 4px solid black;
  font-size: 20px;
  display:inline-block;
  display: flex;
  align-items: center;
}


.primeiroprojeto{
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: 'Merriweather', serif;
}





/* |-----------------------------------------------------------------------Contato(incio)----------------------------------------------------------------------------| */
#contato{
  border: 2px solid black;
  background-image: linear-gradient(to right,#4169E1,#87CEEB,#4682B4, #66CDAA, #000080);
  font-family: 'Merriweather', serif;
  height: 500 px;
}

.textocontato{
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 37%;
  font-size: 30px;
}


/* |-----------------------------------------------------------------------Seções----------------------------------------------------------------------------| */





